:root {
  /* основний колір тексту */
  --primary-text-color: rgba(117, 117, 117, 1);

  /* колір заголовків */
  --title-text-color: rgba(33, 33, 33, 1);

  /* колір тексту адреси в футері */
  --adress-footer-color: rgba(255, 255, 255, 0.6);

  /* основний фон сторінки */
  --primary-background-color:#F5F5F5;

  /* фон хедера */
  --header-color: rgba(255, 255, 255, 1);

  /* фон секції наша команда */
  --section-compani-color: rgba(245, 244, 250, 1)

  /* колір секції футер */
  --footer-color: rgba(47, 48, 58, 1);

  /* адреса футер */
  --contact-footer-color: rgba(255, 255, 255, 0.6);
 --footer-adress-color:#FFFFFF;

  /* акцент, підсвітка */
  --accent-color:rgba(33, 150, 243, 1);

  /* логотип */
  --title-web-color:rgba(33, 150, 243, 1);
  --title-studio-color:rgba(0, 0, 0, 1);

  /* герой */
  --title-hero-text: rgba(255, 255, 255, 1);

  /* кнопка */
  --title-button-color: #FFFFFF;
  --accen-button-color:rgba(33, 150, 243, 1);
}


body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  
}

ul {
    list-style: none;
}

.page-header {
  background-color: var(--header-color);
}
/* Logo */

.logo-link {
color: var(--title-web-color);
}

.logo {
color: var(--title-studio-color);
}

.logo-black {
  color: #FFFFFF;
}
/* navigation */

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Adress */
.adress-nav .link {
  color: var(--primary-text-color);
}

.adress-nav .link:hover,
.adress-nav .link:focus {
color: var(--accent-color);
}
.adress-nav .link.current {
  color: var(--accent-color);
}


/* Hero */

.hero {
  color:var(--title-hero-text);
  }
  

/* Section */

.section-title {
color: var(--title-text-color);  
}

/* Features */
.feature-list .title {
  color: var(--title-text-color);
}

  /* Button */
  .button {
    color: var(--title-button-color);
  }

  .button.primary {
  color: var(--title-button-color);
  background-color: var(--accen-button-color);
  }

  .button.secondary {}

  /* Work */


  /* Comand */

  .comand-list .link {
    color: var(--title-text-color);
  }

  /* Footer */

  .footer {
background-color: var(--footer-color);
  }
  .adress-footer {
 color: var(--footer-adress-color);
  }
  .contact-list .link {
 color: var(--contact-footer-color);
  }