:root {
    --primaty-text-color: rgba(117, 117, 117, 1);
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    background-color: #F5F5F5;
    color: var(--primaty-text-color)
}

ul {
    list-style: none;
}
/*колір головного тексту #212121; */

/*вторинний колір майн, хедер rgba(117, 117, 117, 1);*/
/* вторинний колір футер rgba(255, 255, 255, 0.6); */

/*фоновий білий колір шапка, фото команди #FFFFFF */

/*акцент #2196F3; */
/* фоновий вторинний колір навики,чим ми займаємося #F5F5F5 */
/* фоновий колір наша команда #F5F4FA */

/* логотип */

.logo-link {
color: #2196F3;
}

.logo {
color: #000000;
}

/* navigation */

.site-nav .link {
color: var(--title-text-color)
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color)
}

.adress-nav .link {
color: #757575;
}

.adress-nav .link:hover,
.adress-nav .link:focus {
color: var(--accent-color)
}

/* hero */

.hero {
color: #FFFFFF;
}

/* section */

.section-title {
color: var(--title-text-color)
}

/* features */
.feature-list .title {
color: var(--title-text-color)
}
 /* Examples */
  .work-list {
    color: var(--title-text-color);
  }

  /* comand */
  .comand-list .link {
    color: var(--title-text-color);
  }